{%  extends "base2.html.twig" %}

{% block title  %}
    Nextipster
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/home.css') }}">
{% endblock %}

{%  block body %}

    <div id="slides">
        <img src="" alt="slides">
    </div>

    <div style="margin-top: 50px;">
    <h2> Matchs de la semaine </h2>
    <hr class="separator"> <br />

        <div style="margin-top: 50px;">
    <ul class="ulMatch">
        <li class="headerMatch"> Champions League </li>
        {% for i in 0..match|length-2 %}
            <li class="match"><a href= "{{ path('Analyse') }}"> <span class="time">18:55</span> <span class="team">{{ match[i].NomEquipe }} -  {{  match[i+1].NomEquipe }}</span> </a></li>
        {% endfor %}
    </ul>
    </div>


{% endblock %}

