{%  extends "base.html.twig" %}

{% block title  %}
Nextipster
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/home.css') }}">
{% endblock %}



{% block titleForm %} Login {% endblock %}
{% block form %}{{form(form)}} {% endblock %}
{% block register %} <button><a href="/register">S'inscrire</a></button> {% endblock %}



{%  block body %}

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="images/30d4b.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"> <a href="#"> ENTRE LYON ET SON PUBLIC</a></div>
        </div>

        <div class="mySlides fade">
            <img src="images/b58a6.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"><a href="#"> LES VERRES ARRACHENT UN POINT </a></div>
        </div>

        <div class="mySlides fade">
            <img src="images/fc834.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"><a href="#" class="text"> MERCADAL : " TOUJOURS EN VIE "</a></div>
        </div>

    </div>
    <div style="margin-top: 50px;">
           <h2 style=" color: #37474F;"> Matchs de la semaine </h2>
            <hr class="separator"> <br />

            <ul class="ulMatch">
                <li class="headerMatch"> Champions League </li>
                <li class="match"><a href= "{{ path('Analyse') }}"> <span class="time">18:55</span> <span class="team">Paris - Réal</span>  <span class="nbAvis"> 5 Avis </span> </a></li>
                <li class="match"><a href= "{{ path('Analyse') }}">  <span class="time">14:00</span>  <span class="team"> Barça - Juventus </span>  </a> </li>
            </ul>

            <ul class="ulMatch">
                <li class="headerMatch"> Ligue 1 </li>
                <li class="match"><a> <span class="time">18:55</span> <span class="team">Paris - Réal</span>  <span class="nbAvis"> 5 Avis </span> </a></li>
                <li class="match"><a>  <span class="time">14:00</span>  <span class="team"> Barça - Juventus </span>  </a> </li>
            </ul>

    </div>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>


{% endblock body %}

