
html,body{
    margin: auto;
    height: 100%;
}
.slides{
    height:20%;
    max-width:100%;
    border-bottom:solid 1px;
}


h2{
    text-align: center;
    font-family:Calibri;
    font-size:33px;
    color:#54423F;
}

.separator{
    height:0.1px;
    color:lightgray;
    width:50%;
}

.ulMatch{
    width:60%;
    background-color:#f1f1f1;
    list-style-type: none;
    padding-right: 12px;
    overflow: hidden;
    margin-bottom:70px;
}
.match{

    height:30px;
    border: solid 1px gray;
    border-top : none;
    font-family:calibri;

}

.match a{
    display:block;
    color:#54423F;
    height:100%;
    background-color:white;
}

.match a:hover{
    background-color:lightgray;
}


.time{
    margin-left:20px;
}

.team{
    margin-left:30%;
}

.nbavis{
    margin-left:30%;
    border : solid 1px transparent ;
    background-color: darkgray;
    border-radius:3px;
    color:white;
    font-family:Calibri;
    position:relative;
    top:5px;
    padding : 2px;
}

.headerMatch {
    border: solid 1px gray;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    background-color:#37474F;
    height:30px;
    color:white;
    text-align: center;
    font-size:19px;
    display:block;
    font-weight:bold;
    font-family: calibri;
}



.slideshow-container {
    width: 80%;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #37474F;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.text {
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}
.text a{
    text-decoration: none;
    color: blue;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
