.leftLogin {
    height:200%;
    width:20%;
    border: 1px solid black;
    float:left;
    margin-top: 5px;
    margin-left: 130px;
    background-color:lightgray;
    border-top:none;
}
#topUser{
    font-size: 40px;
    color: #37474F
}
#user{
    background-color: #FDD835; padding: 10px;
}
#num{
    padding-left: 20px;
    font-size: 50px;
    color:#263238
}
#infoUser{
    padding-left: 10px;
    font-size: 20px;
    font-weight: 200;
}
#ulFirstUser ul li a{
    text-decoration: none;
    color:#37474F;
}

h4{
    text-align:center;
    font-family:Candara;
}
@keyframes num{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.ulFirstUser{
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
}

.ulFirstUser li{
    border-top:solid 1px;
    background-color:rgb(230,242,230);
}







.BehindUser{
    background-color:#CECECE;
}

#LastUser{
   border-bottom:solid 1px;
}

.body{
    float: left;
   /* margin-right:14%;
    margin-left:20%;
    height:100%;
    border:solid 1px;
    margin-bottom:50px;
    background-color:white;*/
    margin-left: 1px;
    margin-top: 5px;
}