{%  extends "base.html.twig" %}

{% block title  %}
    Qui Sommes Nous
{% endblock %}



    {%  block body %}
        <h2> Qui Sommes Nous</h2>

        <pre>
            Universtiy Paris1
            L3 Classique
            Group 1
            Aurilie
            Mariam
            Mehdi
            Lina
        </pre>





    {% endblock %}