<!Dctml>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/header.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/left.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/footer.css') }}">
         {% block stylesheets %}{% endblock %}
    </head>

    <body>

    <header>
        <div id="banner">
            <img src="C:\Users\YRSL\PhpstormProjects/stade.jpg" alt="banniere">
        </div>

        <ul class="ulMenu">
            <li class="menu"> <a href="/" id="first"> ACCEUIL </a></li>
            <li class="menu"> <a href="dayprono">PRONOSTIC DU JOUR </a> </li>
            <li class="dropdown"> <a> CLASSEMENT </a>
                <div class="dropdown-content">
                    <a href="classement/pronostiqueur">Pronostiqueur</a>
                    <a href="classement/equipe">Equipes</a>
                </div>
            </li>
            <li class="menu"> <a href="historique"> HISTORIQUE </a></li>
        </ul>

    </header>

    <div class = "leftLogin">
    <br /> <br />
        <h4> Top User </h4>
        <ul class="ulFirstUser">
            <li id="FirstUser">
                <span id="nbUser"> 1 </span>
                <img alt="photoUser">
                <span id="nameUser"> MehdiStl</span>
            </li>

            <li>
                <span id="nbUser"> 2 </span>
                <img alt="photoUser">
                <span id="nameUser"> MehdiStl</span>
            </li>

            <li>
                <span id="nbUser"> 3 </span>
                <img alt="photoUser">
                <span id="nameUser"> MehdiStl</span>
            </li>

            <li>
                <span id="nbUser"> 4 </span>
                <img alt="photoUser">
                <span id="nameUser"> MehdiStl</span>
            </li>

            <li id="LastUser">
                <span id="nbUser"> 5 </span>
                <img alt="photoUser">
                <span id="nameUser"> MehdiStl</span>
            </li>

        </ul>
    </div>

    <div class="body">
        {% block body %}{% endblock %}

    </div>


    <footer>
        <p>NextTipster</p>
        <a>Qui sommes nous ?</a>
        <a>Nous contacter</a>
        <a>Plan du site</a>
        <a>Mentions légales</a>
        <a>FAQ</a>
    </footer>

    </body>

</html>

