{%  extends "base.html.twig" %}

{% block title  %}
    Analyse
{% endblock %}

{%  block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/analyse.css') }}">
{% endblock %}

    {%  block body %}
        <h2> ANALYSE DE MATCH</h2>
<hr class="separator">

<ul>
    <li>
        <p class="detailMatch"> 17:30 à Parc des princes</p>
        <p class="teamMatch"> Paris Saint Germains - Olympique Lyonnais </p>
        <div class="result">
            <button class="activeButton"> 1 </button>
            <button class="otherButton" disabled> N </button>
            <button class="otherButton" disabled> 2 </button>
        </div>

        <div class="cote">
            <span class="activeCote">1.30</span>
            <span class="otherCote">3.40</span>
            <span class="otherCote">3.75</span> </div>
    </li>
</ul>




        <div class="stade">
            <img src="" alt="stade">
        </div>
        <h3> Classement Actuel Des Clubs </h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Numéros </th>
                <th> Clubs </th>
                <th> Points </th>
                <th> Joués </th>
                <th> Gagnés </th>²
                <th> Nuls </th>
                <th> Perdus </th>

            </tr>
            </thead>

        </table>
        </div>
        <h3> Forme </h3>
        <div class="Forme">
            <table id="team1">
                <tr>
                    <th>team1</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>

                </tr>
                <tr>
                    <td>team1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team1</td>
                    <td>3</td>
                    <td>4</td>
                    <td>0</td>
                    <td>pt</td>

                </tr>
            </table>
            <table id="team2">
                <tr>
                    <th>team2</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
            </table>


        </div>
        <h3> Face à Face </h3>
        <div class="Face">
            <table id="face">
                <tr>
                    <th>team2</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>
                    <th>pt</th>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>
                    <td>pt</td>

                </tr>
            </table>

        </div>
        <h3> Statique generale </h3>
        <div class="Statistique">
            <table id="team1"><tr>
                    <th>team1</th>
                    <th>pt</th>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr></table>
            <table id="team2">
                <th>team2</th>
                <th>pt</th>


                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>


                </tr>
            </table>
        </div>




    {% endblock %}


